  <h2>Welcome to Angular Users demo.</h2>
  <table border = 1>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>User Id</td>
      <td>Completed</td>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.userId}}</td>
      <td>{{item.completed}}</td>
    </tr>
  </table>
